<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.steven.cns.auth.common.mapper.OAuthRefreshTokenMapper">

    <select id="findByTokenId" resultType="com.steven.cns.auth.common.entity.OAuthRefreshToken">
        select *
        from oauth_refresh_token
        where token_id = #{tokenId}
    </select>

    <delete id="deleteByTokenId">
        delete
        from oauth_refresh_token
        where token_id = #{tokenId}
    </delete>

</mapper>
